.resy-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.resy-form-input, .resy-form-btn {
    margin: 2%;
    height: 25px;
    width: 15%;
}

.resy-form-input {
    padding: 0 .5%;
}

.resy-form-btn {
    background-color: teal;
    color: white;
    border-color: white;
    cursor: pointer;
}